In [23]:
import pandas as pd

df = pd.DataFrame({
    "name":["ajit","sid","sam"],
    "city":["pune","mumbai","mumbai"]
    
})

df

df["city"]

0      pune
1    mumbai
2    mumbai
Name: city, dtype: object

In [26]:
 weatherData =[
     ('01/05/2022',34.5,'Rain'),
     ('01/06/2022',36,'Sunny'),
     ('01/07/2022',37.2,'Snow')
 ]

df = pd.DataFrame(data=weatherData,columns=['Day','Wind Speed','Event'])

df

          Day  Wind Speed  Event
0  01/05/2022        34.5   Rain
1  01/06/2022        36.0  Sunny
2  01/07/2022        37.2   Snow