In [10]:
import pandas as pd

df = pd.read_csv("WeatherData.csv")
#Forward fill

df_for = df.fillna(method="ffill")
df_for

         Day  Temperature  Wind_Speed  Event
0   1/5/2022         34.5         NaN   Rain
1   1/6/2022         36.0         2.5  Sunny
2   1/7/2022         37.2         3.5   Rain
3   1/8/2022         37.2         4.6   Rain
4   1/9/2022         26.0         1.4   Rain
5  1/10/2022         13.0         5.6  Sunny

In [11]:
#Backward fill
df_back = df.fillna(method="bfill")
df_back

         Day  Temperature  Wind_Speed  Event
0   1/5/2022         34.5         2.5   Rain
1   1/6/2022         36.0         2.5  Sunny
2   1/7/2022         37.2         3.5   Rain
3   1/8/2022         26.0         4.6  Sunny
4   1/9/2022         26.0         1.4  Sunny
5  1/10/2022         13.0         5.6  Sunny